.bottom{
  display: flex;
  background-color: rgb(18, 20, 32);
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  border-top: none;

  z-index: 200;
}

.bar{
  background-color: rgb(232, 228, 219);
  width: 400px;
  height: 6px;
  align-self: center;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  border-radius: 3px;
}

.middle-bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.button-bottom{
  background-color: transparent;
  border: none;
  padding: 0;
  height: 27px;
  width: 27px;
  transition: width, height 0.1s;
}

.img-bottom{
  width: 100%;
  height: 100%;
}

.button-bottom:hover{
  height: 30px;
  width: 30px;
  cursor: pointer;
}


.bar-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0px 20px;
  padding-top: 23px;
}

.timer-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timer{
  margin-top: 6px;
  margin-bottom: 0;
  color: rgb(232, 228, 219);
}

.left-bottom{
  flex: 1;
  display: flex;
  justify-content: start; 
  margin-left: 60px;
}

.right-bottom{
  display: flex;
  justify-content: center;
  flex: 1;
  margin-right: 60px;
  align-items: center;
  column-gap: 10px;
}

.bar-volume-container{
  width: 100px;
  height: 8px;

}

.bar-volume{
  background-color: rgb(232, 228, 219);
  width: 50%;
  height: 100%;
  border-radius: 5px;

}

.back-bar-volume{
  height: 100%;
  width: 100%;
  background-color: rgb(64, 63, 76);
  border-radius: 5px;
}

.image-volume{
  pointer-events: none;
}