.bottom{
  display: flex;
  background-color: rgb(104, 115, 81);
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 75px;
  justify-content: space-around;
  align-items: center;
  border-top: 3px solid rgb(232, 228, 219);

  z-index: 200;
}

.bar{
  background-color: rgb(232, 228, 219);
  width: 400px;
  height: 6px;
  align-self: center;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  border-radius: 3px;
}

.middle-bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-bottom{
  background-color: transparent;
  border: none;
  padding: 0;
  height: 27px;
  width: 27px;
  transition: width, height 0.1s;
}

.img-bottom{
  width: 100%;
  height: 100%;
}

.button-bottom:hover{
  height: 30px;
  width: 30px;
  cursor: pointer;
}


.bar-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0px 20px;
  padding-top: 23px;
}

.timer-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timer{
  margin-top: 6px;
  margin-bottom: 0;
  color: rgb(232, 228, 219);
}