* {
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding: 10px;
  margin: 0;
  height: 2000px;
  padding-top: 100px;
  padding-left: 140px;
  transition: padding-left 0.3s;
}

.body-hide-left-sidebar{
  padding-left: 40px;
}



html{
  padding: 0px;
}