.flex-main-header{
  display: flex;
  background-color: rgb(18, 20, 32);
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 30px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;

  border-bottom: none;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);

  column-gap: 50px;
}


.flex-center{
  flex: 2;
  text-align: center;
  max-width: 500px;
}

.flex-center{
  display: flex;
}

.input-center{
  flex: 1;
  width: 100%;
  height: 30px;
  padding: 3px 30px;
  outline: none;
  border: none;
  border-right: none;
  background-color: rgb(64, 63, 76);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: rgb(232, 228, 219);
  font-weight: bold;

}

.input-center::placeholder{
  color: white;
  font-weight: bold;
}

.button-search-header, .button-bar-header{
  width: 50px;
  background-color: rgb(64, 63, 76);
  border: none;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  

}

.flex-left{
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  column-gap: 30px;
}

.button-search-header:hover{
  background-color: rgb(49, 48, 58);
  cursor: pointer;
}


.button-bar-header{
  border: none;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  box-shadow: none;
  background-color: transparent;
  transition: height, width 0.1s;
}

.button-bar-header:hover{
  cursor: pointer;
  height: 53px;
  width: 53px;
}

.img-account{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: none;
  border-radius: 60px;
}


.img-header-icon{
  width: 100%;
  height: 100%;
}

.flex-right{
  width: 100px;
  display: flex;
  flex: 1;
  justify-content: end;
}

.button-profile-pic{
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  transform: width, height, border-radius 0.1s;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.button-profile-pic:hover{
  border-radius: 21px;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
