.music-chain{
  display: grid;
  column-gap: 20px;
  margin: 30px 10px;
  row-gap: 50px;
  color: rgb(232, 228, 219);
  }
  
@media (max-width: 800px) {
  .music-chain{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 800px) and (max-width: 1200px){
  .music-chain{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) and (max-width: 1500px){
  .music-chain{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1500px){
  .music-chain{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}


.image{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;

  width: 100%;
  aspect-ratio: 1;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

  position: relative;
}


.image-display{
  width: 100%;
  aspect-ratio: 1;
}

.play{
  color: rgb(232, 228, 219);
  display: inline-block;
  

}

.play-icon-button{
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 43, 60);
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  margin-right: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

  position: absolute;

}

.play-icon-button:hover{
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
font-size: 18px;
cursor: pointer;
}

.music-preview{
display: grid;
grid-template-columns: 1fr;
position: relative;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.music-stats{
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: rgb(44, 43, 60);
height: 90px;
padding: 10px;
padding-bottom: 10px;
}

.name, .type{
color: rgb(255, 255, 255);;
font-size: 14px;
color: rgb(255, 255, 255);;
width: 90%;
margin-bottom: 0px;
margin-top: 0;

}

.name{
  font-weight: bold;
  font-size: 16px;
}

.type{

font-size: 14px;
margin-top: 2px;

}

.band{

font-size: 12px;
color: rgb(255, 255, 255);;
margin-top: 0px;
margin-bottom: 0px;
text-align: right;
}

.title-above-chain{
  font-size: 40px;
  font-style: italic;
  color: rgb(232, 228, 219);
  font-weight: bold;
  margin-bottom: 50px;
  margin-left: 40px;
}



/*      ARTIST     */


.artist-card{
  background-color: rgb(44, 43, 60);
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.image-artist{
  width: 100%;

  aspect-ratio: 1;

  border-radius: 50%;
  object-fit: cover;
}

.artist-text{
  padding: 10px;

  display: flex;
  flex-direction: column;

  row-gap: 20px;
  font-weight: bold;
  max-height: 100px;

  flex-wrap: wrap;
}

.artistName{
  font-size: 15px;
  font-style: italic;
}