.playlist-picture-main{
  height: 280px;
  width: 280px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

main{
  padding: 10px 30px 0px 30px;
  color: rgb(232, 228, 219);
}

.playlist-header{
  display: flex;
  column-gap: 50px;
  margin-bottom: 50px;
}

.playlist-title{
  font-size: 65px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 50px;
  padding-top: 20px;
}

.playlist-stats{
  font-size: 30px;
}

.playlist-author{
  margin-bottom: 38px;
}

.playlist-music-number, .playlist-time{
  font-size: 16px;
  margin-bottom: 8px;
}

.single-music-playlist-container{
  height: 40px;
  background-color: rgb(44, 43, 60);
}

.music-list{
  
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.button-playlist{
  background-color: rgb(44, 43, 60);
  border: none;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  transition: padding 0.1s ease; 
}

.buttons-bar-playlist{
  display: flex;
  flex-direction: column;
  justify-content: end;
  column-gap: 15px;
}

.playlist-button-icon{
  width: 100%;
  height: 100%;
}

.button-playlist:hover{
  padding: 7px;
  cursor: pointer;
}


.a{
  display: grid;
  grid-template-columns: 1fr 3fr 10fr 5fr 1fr;
  padding: 0 20px;
  max-width: 1150px;
  align-items: center;

}