.queue-main-div{
  position: fixed;
  bottom: 100px;
  left: 130px;
  height: 550px;
  width: 300px;
  background-color: rgb(44, 43, 60);
  z-index: 10;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 5px;
  padding: 10px;

  display: flex;
  flex-direction: column;

  row-gap: 20px;

  overflow-y: auto;

  transition: transform 0.4s ease-in-out;
}

.queue-main-div::-webkit-scrollbar{
  background: rgba(255, 255, 255, 0.3); /* Thumb color */
  border-radius: 5px;
  width: 10px;
  padding: 3px;
}
.queue-main-div::-webkit-scrollbar-track{
  background-color: rgb(44, 43, 60);
  border-radius: 5px;
}

.queue-main-div::-webkit-scrollbar-thumb{
  background-color: rgb(18, 20, 32);
  width: 2px;
  border-radius: 5px;
  border: 2px solid rgb(44, 43, 60);
}

.queue-main-div::-webkit-scrollbar-thumb:active{
  background-color: rgb(10, 12, 19);
}


.queue-main-div-hide{
  transform: translateY(1000px);
}



.queue-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-text-queue-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.img-profile-queue{
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 30px;
  object-fit: cover;
}

.text-queue-header{
  color: rgb(232, 228, 219);
  font-size: 25px;
  font-weight: bold;
}

.queue-div{
  display: flex;
}

.album-img-music-queue{
  height: 60px;
  width: 60px;
  border: none;
  object-fit: cover;
  border-radius: 5px;
}

.queue-text{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 4px;
}

.queue-music-name{
  font-size: 16px;
  margin-bottom: 3px;
}

.queue-album-name{
  font-size: 14px;
}